.icon {
  width: 18px;
  height: 18px;
  display: block;

  mask-size: 100%;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: black;


  &.icon-stars{
    mask-image: url("../images/starts.png");
    -webkit-mask-image: url("../images/starts.png");
    background-color: #fff;
    width: 17px;
    height: 17px;
    cursor: pointer;
  }
}

.karusel{
  margin-bottom: 20px;
  @media  (max-width: 676px){
    display: none;
  }
 .container{
   background-color: white;
   border-radius: 10px;
   padding-left: 0;
   padding-right: 0;
 }
  .alice-carousel{
    .alice-carousel__wrapper{
      padding: 10px 0;
      padding-left: 10px;
      .alice-carousel__stage{
        .alice-carousel__stage-item{
          width: 100% !important;
          .item{
            width: 100% !important;
            display: flex;
            justify-content:space-between;
            .itemContent{
              padding: 8px;
              box-sizing: border-box;
              .price{
                margin-top: 4px;
                margin-bottom: 3px;
                font-size: 13px;
              }
              .sold{
                font-size: 14px;
              }
            }
          }
        }
        .__active.__target{
          width: 100% !important;
        }
      }
    }
    .alice-carousel__dots{
      display: none;
    }
    .alice-carousel__prev-btn{
      height: 0;
      padding: 0;
      .alice-carousel__prev-btn-wrapper{
        .alice-carousel__prev-btn-item{
          background-color: rgba(0, 0, 0, 0.25);
          position: absolute;
          left: 0;
          top: 35%;
          transition: all 0.4s;
          z-index: 9999!important;
          &:hover{
            background-color: rgba(0, 0, 0, 0.5);
          }
          span{
            mask-image: url("../images/back.svg");
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
            width: 22px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            padding: 0;
          }
          span::after{
            opacity: 0;
          }
        }
      }
    }
    .alice-carousel__next-btn{
      height: 0;
      padding: 0;
      .alice-carousel__next-btn-wrapper{
        .alice-carousel__next-btn-item{
          background-color: rgba(0, 0, 0, 0.25);
          position: absolute;
          right: 0;
          top: 35%;
          transition: all 0.3s;
          &:hover{
            background-color: rgba(0, 0, 0, 0.5);
          }
          span{
            mask-image: url("../images/next.svg");
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
            width: 22px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            padding: 0;
          }
          span::after{
            opacity: 0;
          }
        }
      }
    }
  }
    .price{
      background-color: red;
      padding: 2px 5px;
      border-radius: 2px;
      img{
        width: 12px;
        height: 8px;
      }
      p{
        color: white;
        margin-bottom: 0;
        margin-left: 5px;
        font-size: 10px;
        font-weight: bold;
      }
    }
    del{
      color: darkgray;
      font-size: 12px;

    }
    h3{
      font-size: 15px;
      font-weight: bold;
      color: black;
    }
  .diagramma{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 18px;
      height: 12px;
    }
  }
  .diagramma2{
    background-color: #C7864D;
  }
  h4{
    margin-bottom: 0;
    font-size: 18px!important;
    font-weight: bold;
    margin-left: 10px;
  }
  h6{
    color: darkgray;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500!important;
    &:hover{
      color: red;
    }
  }
}
.karusel2{

  @media (max-width: 676px){
    margin: 0 15px 20px 15px;
  }

  margin-bottom: 20px;
  .container{
    background-color: white;
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;

    .slick-slider{
      padding: 20px 0;
      .slick-prev{
        background-color: rgba(0, 0, 0, 0.25);
        height: 48px;
        width: 32px;
        left: 20px;
        z-index: 9999;
        color: white;
        transition: all 0.3s;
        &:before{
          mask-image: url("../images/back.svg");
          mask-size: 100%;
          mask-repeat: no-repeat;
          background-color: white;
        }
        &:hover{
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .slick-next{
        background-color: rgba(0, 0, 0, 0.25);
        height: 48px;
        width: 32px;
        right: 17px;
        z-index: 9999;
        transition: all 0.3s;
        &:before{
          mask-image: url("../images/next.svg");
          mask-size: 100%;
          mask-repeat: no-repeat;
          background-color: white;
        }
        &:hover{
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .slick-slide{
        padding: 10px 20px;
        .item{
          .carouselimg{
            margin-right: auto;
            margin-left: auto;
          }

        }
      }
      .slick-dots{
        display: none!important;
      }
    }
  }

  .price{
    background-color: red;
    padding: 2px 5px;
    border-radius: 2px;
    img{
      width: 12px;
      height: 8px;
    }
    p{
      color: white;
      margin-bottom: 0;
      margin-left: 5px;
      font-size: 10px;
      font-weight: bold;
    }
  }
  del{
    color: darkgray;
    font-size: 13px;

  }
  h3{
    font-size: 15px;
    font-weight: bold;
    color: black;
  }
  .diagramma{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 18px;
      height: 12px;
    }
  }
  .diagramma2{
    background-color: #C7864D;
  }
  h4{
    margin-bottom: 0;
    font-size: 18px!important;
    font-weight: bold;
    margin-left: 10px;
    @media (max-width: 676px){
      font-size: 15px!important;
    }
  }
  h6{
    color: darkgray;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500!important;
    &:hover{
      color: red;
    }
    @media (max-width: 676px){
      font-size: 13px!important;
    }
  }
}