.profileContent{
  padding-top: 30px;
  background-color: #f2f2f2;
  padding-bottom:120px ;
  .container{
    .profileContentMenu{
      display: flex;
      .profileContentLeft{
        width: 19.5%;
        padding: 15px;
        background-color: #fff;
        .profile-menu-text{
          font-size: 18px;
          color: #333;
          margin-left: 5px;
        }
        .profile-menu-list{
          list-style-type: none;
          padding: 0;
          margin: 0;
          .profile-menu-item{
            padding: 5px;
            .profile-menu-link{
              font-size: 15px;
              color: #333;
              transition: all 0.15s;
              text-decoration: none;
              &:hover{
                color: #ff4747;
              }
            }
          }
        }

      }
      .profileContentRight{
        width: 80.5%;
        margin-left: 20px;
        .profile-name{
          background-color: #fff;
          padding: 15px;
          .profile-name-content{
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            .profile-user-left{
              margin-right: 14px;
              .profile-img{
                overflow: hidden;
                position: relative;
                background-color: #e9e9e9;
                width: 70px;
                box-sizing: border-box;
                height: 70px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  width: 100%;
                  height: 100%;
                }
                img:nth-child(2){
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  z-index: 2;
                  display: none;
                }
                &:hover{
                  padding: 0;
                  img:nth-child(2){
                    display: block;
                  }
                  img:nth-child(1){
                    display: none;
                  }
                }
              }
            }
            .profile-user-right{
              .profile-name-text{

              }
              .unread{
                display: flex;
                align-items: center;
                .unreadIcon{
                  width: 25px;
                  height: 20px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .unreadLink{
                  margin: 0 4px;
                  a{
                    font-size: 14px;
                    color: #999999 ;
                    text-decoration: none;
                    &:hover{
                      color: #ff4747;
                    }
                  }
                }
                .unreadCount{
                  color: #ff4747;
                }
              }
            }
          }
        }
        .resurs{
          background-color: #fff;
          padding-top: 20px;
          .resurs-list{
            list-style-type: none;
            padding-bottom: 20px;
            padding-left: 0;
            display: flex;
            .resurs-item{
              position: relative;
              padding: 0 23px;
              .resurs-count{
                text-align: center;
                font-size: 20px;
                color: #222;
              }
              .resurs-description{
                text-align: center;
                font-size: 14px;
                color: #222;
              }
            }
            .resurs-item::after{
              content: "";
              position: absolute;
              top: 0;
              height: 100%;
              width: 1.5px;
              background: #333;
              right: 0;
              opacity: .2;

            }
            .resurs-item:last-child::after{
              display: none;
            }
          }
        }
        .editProfile{
          padding-top: 40px;
          padding-bottom: 60px;
          background-color: #fff;
          .editProfileContent{
            .personalText{
              font-size: 15px;
              margin-left: 20px;
            }
            .personalCabinet{
              margin-top: 15px;
              margin-bottom: 44px;
              list-style-type: none;
              display: flex;
              align-items: center;
              .personalCabinetItem{
                margin-right: 140px;
                a{
                  font-size: 13px;
                  text-decoration: none;
                }
              }
            }
          }
          .socialMedia{
            .personalText{
              margin-left: 20px;
            }
            .personalCabinet{
              list-style-type: none;
              margin-bottom: 50px;
              margin-top: 15px;
              display: flex;
              .personalCabinetItem{
                align-items: center;
                display: flex;
                .socialMediaIcon{
                  width: 18px;
                  height: 18px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .socialMediaName{
                  font-size: 13.4px;
                  color: #222;
                  margin: 0 7px;
                }
                .socialMediaConnect{
                  font-size: 13.4px;
                  color: #4e93c3;
                  &:hover{
                    color: #ffdf4a;
                  }
                }
              }
              .personalCabinetItem:first-child{
                margin-right: 320px;
              }
            }
          }
        }
        .userAddPhotos{
          padding-top: 15px;
          background-color: #fff;
          padding-bottom: 40px;
          .container{
            .alertContent{
              display: none;
              transform: translateY(-10px);
              transition: all 0.3s;
            }
            .alertContentBlock{
              display: block;
              transform: translateY(0);
              transition: all 0.3s;
              .alert{
                background-color: #E8F9E8;
                display: flex;
                align-items: center;
                padding: 10px;
                box-sizing: border-box;
                color: #333;
                .alertLeft{
                  display: flex;
                  align-items: center;
                  width: 20px;
                  height: 20px;
                  margin-right: 8px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .alertRight{
                  font-size: 14px;
                }
              }
            }
            .row{
              padding: 0 15px;
              .col-md-8{
                border: 1px dashed #e9e9e9;
                padding: 46px;
                .uploadImg{
                  width: 100px !important;
                  height: 100px !important;
                  margin-bottom: 20px;
                  img{
                    width: 100%;
                    height: 100%;
                  };
                }
                label{
                  input::-webkit-file-upload-button{
                    display: none;
                    color: white;
                    background: #1CB6E0;
                    border: none;
                    padding: 7px 15px;
                    font-weight: 700;
                    border-radius: 3px;
                    white-space: nowrap;
                    cursor: pointer;
                    font-size: 10pt;
                  }
                  input::before{
                    content: 'Rasm yuklang';
                    display: inline-block;
                    background: linear-gradient(top, #f9f9f9, #e3e3e3);
                    border: 1px solid #999;
                    border-radius: 3px;
                    padding: 5px 8px;
                    outline: none;
                    white-space: nowrap;
                    -webkit-user-select: none;
                    cursor: pointer;
                    text-shadow: 1px 1px #fff;
                    font-weight: 700;
                    font-size: 10pt;
                  }
                }
              }
              .col-md-4{

              }
            }
            .updateButtonPhotos{
              .btn{
                margin-top: 30px;
                border: 1px solid #222;
                margin-left: 40px;
              }
              .addPhotosNone{
                display: none;
              }
              .addPhotosBlock{
                display: block;
              }
            }
          }
        }
        .editProfile{
          background-color: #fff;
          padding-top: 20px;
          .container{
            .row{
              .col-8{
                .success{
                  display: flex;
                  justify-content: space-between;
                  background-color: #E8F9E8;
                  align-items: center;
                  padding: 4px 10px;
                  border-radius: 3px;
                  .successImg{
                    width: 27px;
                    height: 27px;
                  }
                  .successText{
                    font-size: 13px;
                    color: #555;
                  }
                }
                .successNone{
                  display: none;
                }
                .form{
                  padding: 80px;
                  border-radius: 3px;
                  .nameInput, .lastNameInput{
                    display: flex;
                    margin-bottom: 24px;
                    align-items: center;
                    .form-control{
                      height: 30px;
                    }
                    label{
                      span{
                        color: #ff4747;
                        font-size: 17px;
                        margin-right: 4px;
                      }
                      margin-right: 20px;
                      font-weight: bold;
                    }
                  }
                  .lastNameInput{
                    margin-left: -30px;
                  }
                  .checkbox{
                    margin-bottom: 20px;
                    display: flex;
                    margin-left: -8px;
                    .checkboxLeft{
                      font-weight: bold;
                      span{
                        color: #ff4747;
                        font-size: 17px;
                        margin-right: 4px;
                      }
                    }
                    .checkboxRight{
                      margin-left: 22px;
                      label:first-child{
                        margin-right: 30px;
                      }
                      label{
                        input{
                          margin-left: 5px;
                        }
                      }
                    }
                  }
                  .electronPochta{
                    margin-left: -146px;
                    margin-bottom: 20px;
                    display: flex;
                    .userNameElectron{
                      margin-left: 80px;
                    }
                    .electronText{
                      font-weight: bold;
                      span{
                        color: #ff4747;
                        font-size: 17px;
                        margin-right: 4px;
                      }
                    }
                  }
                  .phoneNumberInput{
                    margin-bottom: 20px;
                    display: flex;
                    label{
                      font-weight: bold;
                      margin-right: 30px;
                      span{
                        color: #ff4747;
                        font-size: 17px;
                        margin-right: 4px;
                      }
                    }
                    .form-control{
                      height: 30px;
                    }
                  }
                  .birthday{
                    margin-left: -94px;
                    margin-bottom: 20px;
                    label{
                      font-weight: bold;
                      margin-right: 26px;
                      span{
                        color: #ff4747;
                        font-size: 17px;
                        margin-right: 4px;
                      }
                    }
                    input{
                      border: 1px solid #ced4da;
                    }
                  }
                  .submitButton{
                    display: flex;
                    justify-content: center;
                    button{
                      background-color: #ff4747;
                      border: none;
                      padding: 5px 40px;
                      box-sizing: border-box;
                      border-radius: 3px;
                      color: #fff;
                    }
                  }
                  .nameInputValid, .lastNameInputValid, .phoneNumberInputValid, .birthdayValid{
                    input{
                      border-color: #ff4747;
                      box-shadow: 0.4px 0.4px 5px #ff514d , -0.4px -0.4px 5px #ff514d;
                    }
                    .checkboxRight{
                      label{
                        input{
                          border-color: #ff4747;
                        }
                      }
                    }
                  }

                }
              }
            }
          }
        }
        .electronPochta{
          background-color: #fff;
          padding-bottom: 40px;
          .container{
            .row{
              .col-md-12{
                .confirmationEmail, .contactSupport{
                  &:hover{
                    background-color: #f7f9fc;
                    border-color: #91b3cd;
                    transition: all .5s ease;
                  }
                  margin-top: 20px;
                  border: 1px solid #e8e8e8;
                  padding: 35px;
                  margin-bottom: 15px;
                  box-shadow: 1px 1px 1px #f4f4f4;
                  display: flex;
                  justify-content: space-between;
                  .confirmationEmailText, .contactSupportText{
                    h6{
                      font-size: 16px;
                      font-weight: 700;
                      color: #6c6c6c;
                      margin-bottom: 5px;
                    }
                    p{
                      color: #888;
                      font-size: 13px;
                    }
                  }
                  .confirmationEmailButton, .contactSupportButton{
                    a{
                      text-decoration: none;
                      border: 1px solid #f40;
                      background-color: #f40;
                      color: #fff;
                      font-size: 14px;
                      padding: 4.8px 50px;
                      box-sizing: border-box;
                    }
                  }
                }
              }
            }
          }
        }
        .emailUpdate{
          padding-bottom: 40px;
          background-color: #fff;
          .container{
            .row{
              .col-md-12{
                .confirmation{
                  margin-top: 20px;
                  display: flex;
                  align-items: center;
                  margin-bottom: 60px;
                  .confirmationIcon{
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .confirmationText{
                    color: #6c6c6c;
                    font-size: 14px;
                  }
                }
                .thisEmail{
                  margin-bottom: 20px;
                  span{
                    font-size: 14px;
                    color: #6c6c6c;
                  }
                  span:nth-child(2){
                    color: #333;
                    margin-left: 14px;
                  }
                }
                .verificationCode{
                  margin-bottom: 30px;
                  margin-left: 10px;
                  display: flex;
                  align-items: center;
                  .verificationCodeText{
                    color: #6c6c6c;
                    font-size: 14px;
                    margin-right: 15px;
                  }
                  .verificationCodeInput{
                    margin-right: 15px;
                    input{
                      width: 95px;
                      padding: 2px 0;
                      &::placeholder{
                        font-size: 12px;
                        text-align: center;
                      }
                    }
                  }
                  .verificationCodeButton{
                    color:#FF751A;
                    button{
                      padding: 7px 10px;
                      width: 100%;
                      background: #FFF1E8;
                      border: 1px solid #FF751A;
                      white-space: nowrap;
                      color: #FF6A00;
                      border-radius: 3px;
                      font-size: 12px;
                    }
                  }
                }
                .checkButton{
                  margin-left: 125px;
                  button{
                    color: #fff;
                    border: 1px solid #f40;
                    background-color: #f40;
                    padding: 6.7px 40px;
                    margin-right: 20px;
                  }
                  a{
                   color: #f40;
                    font-size: 12px;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
        .passwordUpdate{
          background-color: #fff;
          padding-top: 20px;
          padding-bottom: 40px;
          .container{
            .row{
              .col-md-6{
                .passwordInputGroup{
                  margin-top: 30px;
                  .old-password, .new-password-1, .new-password-2{
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    .form-control{
                      box-sizing: border-box;
                      height: 28px;
                      &::placeholder{
                        font-size: 13px;
                      }
                    }
                    label{
                      font-size: 14px;
                      white-space: nowrap;
                      margin-right: 15px;
                      margin-bottom: 0;
                    }
                  }
                  .old-password{
                    label{
                      margin-right: 23px;
                    }
                  }
                  .updatePasswordButton{
                    padding-top: 20px;
                    display: flex;
                    justify-content: center;
                    button{
                      border: none;
                      border-radius: 3px;
                      background-color: #ff4747;
                      padding: 5px 50px;
                      box-sizing: border-box;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
        .receiveEmail{
          background-color: #fff;
          padding-top: 20px;
          .container{
            .row{
              .col-md-12{
                .receiveEmailContent{
                  padding-bottom: 25px;
                  display: flex;
                  align-items: center;
                  .receiveEmailContentLeft{
                    padding-right: 50px;
                    h5{
                      font-size: 19px;
                      color: #000;
                    }
                    p{
                      color: #999;
                      font-size: 13px;
                      margin-left: 65px;
                    }
                  }
                  .receiveEmailContentRight{
                    display: flex;
                    align-items: center;
                    span{
                      font-size: 13px;
                      margin-right: 16px;
                    }
                    .btn{
                      color: #333;
                      border: 1px solid #bcbcbc;
                      background-color: #eee;
                      background-image: -moz-linear-gradient(top,#fafafa,#e8e8e8);
                      background-image: -ms-linear-gradient(top,#fafafa,#e8e8e8);
                      background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
                      background-image: -webkit-linear-gradient(top,#fafafa,#e8e8e8);
                      background-image: -o-linear-gradient(top,#fafafa,#e8e8e8);
                      background-image: linear-gradient(top,#fafafa,#e8e8e8);
                      background-repeat: repeat-x;
                      font-weight: 700;
                      text-align: center;
                      cursor: pointer;
                      -webkit-border-radius: 2px;
                      -moz-border-radius: 2px;
                      border-radius: 2px;
                      -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                      box-shadow: 0 1px 2px 0 rgba(0 ,0 ,0 , .1);
                      padding: 2px 12px;
                    }
                    .btnBlock{
                      color: #fff;
                      border: 1px solid #e87b0e;
                      background-color: #ff9917;
                      background-image: -webkit-linear-gradient(top,#ffab02,#ff8a28);
                    }
                  }
                }
              }
            }
          }
        }
        .orders{
          .purchase{
            margin-bottom: 20px;
            background-color: #fff;
            .container{
              .row{
                .col-md-12{
                  .purchaseList{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    .purchaseListItem{
                      display: inline-block;
                      padding: 14px 0;
                      margin-right: 30px;
                      .purchaseListLink{
                        color: #999;
                        font-size: 12px;
                        transition: all .3s;
                        text-decoration: none;
                        box-sizing: border-box;
                        &:hover{
                          color: #ff4747;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .ordersFilter{
            padding: 10px 0;
            background-color: #fff;
            display: flex;
            align-items: center;
            .container{
              .row{
                .col-md-12{
                  display: flex;
                  align-items: center;
                  .orderName, .orderNumber{
                    display: flex;
                    align-items: center;
                    label{
                      margin-bottom: 0;
                      white-space: nowrap;
                      font-size: 12px;
                      color: #999;
                      margin-right: 9px;
                    }
                    input{
                      height: 23.4px;
                      border: 1px solid #999;
                      border-radius: 3px;
                      width: 58% !important;
                      padding: 0;
                      &:focus{
                        border: 1px solid #333;
                        border-radius: 3px;
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba(51, 15, 43, 0.16);
                      }
                    }
                  }
                  .searchButton{
                    margin-right: 15px;
                    button{
                      background: #ff9a00;
                      color: #fff;
                      padding: 3px 6px;
                      box-sizing: border-box;
                      border: none;
                      font-size: 13px;
                      border-radius: 5px;
                    }
                  }
                  .otherFilter{
                    display: flex;
                    align-items: center;
                    button{
                      border: none;
                      background-color: transparent;
                      font-size: 13px;
                      color: #2e9cc3;
                      margin-right: 4px;
                    }
                    .arrowIcon{
                      width: 7px;
                      height: 7px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
          .ordersList{
            background-color: #fff;
            padding: 12px;
            margin-top: 30px;
            .container>.row{
              display: block;
              .row:first-child{
                background-color: #f2f2f2;
                padding: 10px;
                margin: 0;
                .col-md-6{
                  .ordersN{
                    margin-bottom: 5px;
                    font-size: 14px;
                    span{
                      color: #999;
                    }
                  }
                  .order-time{
                    font-size: 14px;
                    span{
                      color: #999;
                    }
                  }
                }
                .col-md-4{
                  .marketName{
                    margin-bottom: 5px;
                    font-size: 14px;
                    span{
                      color: #999;
                    }
                  }
                  .goToMarket{
                    display: flex;
                    align-items: center;
                    .goToMarketLink1, .messageSeller{
                      font-size: 14px;
                    }
                    .lines{
                      height: 15px;
                      width: 1px;
                      background-color: #999;
                      margin: 0 7px;
                    }
                    .goToMarketIcon{
                      width: 20px;
                      height: 20px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin-right: 7px;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
                .col-md-2{
                  .price{
                    margin-bottom: 5px;
                    p:first-child{
                      font-size: 14px;
                    }
                    p:last-child{
                      font-size: 20px;
                    }
                  }
                }
              }
              .row:last-child{
                .col-md-6{
                  .product{
                    padding: 8.7px;
                    box-sizing: border-box;
                    display: flex;
                    .productLeft{
                      .productImg{
                        width: 100px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                          width: 100%;
                          height: 100%;
                        }
                      }
                    }
                    .productRight{
                      margin-left: 10px;
                      .productText{
                        color: #333;
                        font-size: 14px;
                        line-height: 19px;
                        margin-bottom: 20px;
                      }
                      .productPrice{
                        font-size: 15px;
                        margin-bottom: 4px;
                      }
                      .productFeatures{
                        font-size: 13px;
                        color: #999;
                      }
                      .delivery{
                        display: flex;
                        .deliveryIcon{
                          margin-left: 5px;
                          width: 16.5px;
                          height: 16.5px;
                          display: flex;justify-content: center;
                          align-items: center;
                          img{
                            width: 100%;
                            height: 100%;
                          }
                        }
                        .previousIcon{
                          width: 14px;
                          height: 14px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          img{
                            width: 100%;
                            height: 100%;
                          }
                        }
                      }
                    }
                  }
                }
                .col-md-2:nth-child(2){
                  border-left: 1px solid #eee;
                }
                .col-md-2:nth-child(3){
                  border-right: 1px solid #eee;
                  border-left: 1px solid #eee;
                  .deliveryTimeOut{
                    .sendText{
                      font-size: 13px;
                      color: #333;
                      margin-top: 18px;
                      margin-bottom: 5px;
                    }
                    .mobilVersion{
                      padding: 1.5px;
                      border-radius: 4px;
                      text-align: center;
                      background-color: #94c0ff;
                      color: #fff;
                      font-size: 13px;
                      white-space: nowrap;
                      margin-bottom: 14px;
                    }
                    .timeOut{
                      display: flex;
                      align-items: center;
                      .timeOutIcon{
                        width: 18px;
                        height: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                          width: 100%;
                          height: 100%;
                        }
                      }
                      .timeOutText{
                        font-size: 11px;
                        color: #999;
                        line-height: 13px;
                        text-align: center;
                        margin: 0 3px;
                      }
                      .timeOutDate{
                        font-size: 11px;
                        color: #999;
                        line-height: 13px;
                        text-align: center;
                      }
                    }
                  }
                }
                .col-md-2:nth-child(4){
                  .movementText{
                    display: block;
                    background-color: #f1f1f1;
                    text-align: center;
                    line-height: 17px;
                    font-size: 14px;
                    border-radius: 5px;
                    color: #5f5f5f;
                    font-weight: 600;
                    margin-top: 20px;
                  }
                }
              }
            }
            .container>.row:first-child{
              background-color: #f2f2f2;
              padding: 10px 0;
              display: flex;
              margin-bottom: 10px;
            }
          }
        }
        .shippingAddressAdd{
          .container{
            .row{
              .col-md-12{
                a{
                  button{
                    background-color: #ff4747;
                    text-decoration: none;
                    border: none;
                    margin-top: 40px;
                    padding: 5.6px 50px;
                    border-radius: 3px;
                    font-weight: 600;
                    color: #fff;
                    margin-bottom: 30px;
                  }
                }
              }
            }
          }
        }
        .shippingAddress{
          .container{
            h3{
              font-size: 20px;
              line-height: 30px;
            }
            .shippingForm{
              padding: 23px 20px;
              background-color: #fff;
              .row:first-child{
                margin-bottom: 20px;
                .col-md-12{
                  h5{
                    font-size: 14px;
                    color: #000;
                    font-weight: 700;
                    margin-bottom: 12px;
                  }
                }
                .col-md-6:last-child{
                  .input-group{
                    width: 100%;
                    input:first-child{
                      width: 17%;
                    }
                    input:nth-child(2){
                      width: 83%;
                    }
                  }
                }
                .col-md-6{
                  .nameInput{

                  }
                }
              }
              .row:nth-child(2){
                margin-bottom: 30px;
                .selectForm{
                  width: 100%;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  .district{
                    width: 30%;
                  }
                  .region{
                    width: 30%;
                  }
                  .pochtaIndeksi{
                    width: 30%;
                  }
                }
              }
              .row:nth-child(3){
                margin-bottom: 30px;
                .col-md-12{
                  h5{
                    font-size: 14px;
                    color: #000;
                    font-weight: 700;
                    margin-bottom: 12px;
                  }
                }
              }
              .row:nth-child(4){
                 .col-md-12{
                   .mainChecked{
                     display: flex;
                     align-items: center;
                     margin-bottom: 20px;
                     input{
                       margin-right: 14px;
                       width: 17px;
                       height: 17px;
                     }
                   }
                 }
              }
              .row{
                .col-md-12{
                  button{
                    padding: 5.6px 50px;
                    margin-right: 7px;
                    border: none;
                    font-size: 15px;
                    border-radius: 3px;
                    background-color: #ff4747;
                    color: #fff;
                  }
                  button:nth-child(2){
                    background-color: #f2f2f2;
                    color: #333;
                  }
                }
              }
            }
          }
        }
        .wishList{
          .container{
            .wishListText{
              h3{
                padding: 5px 0 15px;
                font-size: 20px;
                line-height: 1;
              }
            }
            .wishListCategory{
              background-color: #fff;
              border-bottom: 1px solid #dcdcdc;
              padding: 15px;
              .row{
                .col-md-12{
                  .wishListCategoryContent{
                    select{
                      width: 170px;
                      margin-right: 20px;
                      padding: 5px 4px;
                      font-family: inherit;
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 14px;
                      color: #333;
                      background-color: #fff;
                      border: 1px solid #ccc;
                      box-shadow: inset 0 1px 2px rgba(0, 0 ,0 , 0.1);
                      transition: border .2s linear;
                    }
                    a{
                      color: #06c;
                      font-size: 14px;
                      &:hover{
                        color: #f90;
                      }
                    }
                  }
                }
              }
            }
            .wishListContents{
              padding: 15px 0;
              border-bottom: 1px solid #dcdcdc;
              background-color: #fff;
              .container{
                .row{
                  .col-2:first-child{
                    .wishListImg{
                      width: 148px;
                      height: 148px;
                      border: 1px solid #dcdcdc;
                      padding: 10px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                  .col-8{
                    font-size: 13px;
                    .wishListProductContent{
                      .wishListPrice{
                        margin-top: 10px;
                        margin-bottom: 5px;
                        p{
                          color: #e62e04;
                          font-weight: 700;
                          font-size: 16px;
                          margin-right: 15px;
                          span{
                            color: #888;
                            font-size: 13px;
                          }
                        }
                        button{
                          line-height: 16px;
                          border-radius: 20px;
                          display: inline-block;
                          border: 1px solid #fec7a0;
                          color: #ef5e3f;
                          padding: 0 8px;
                          margin-left: 10px;
                          font-size: 13px;
                          background-color: transparent;
                        }
                      }
                      .oldPrice{
                        color: #9b9ba3;
                        line-height: 1.5;
                        font-size: 13px;
                        text-decoration-line: line-through;
                        margin-bottom: 15px;
                      }
                      .priceTo{
                        margin-bottom: 10px;
                        .priceToImg{
                          width: 73px;
                          height: 18px;
                          margin-right: 20px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          img{
                            width: 100%;
                            height: 100%;
                          }
                        }
                      }
                      .wishListOrders{
                        margin-bottom: 15px;
                        .starGroup{
                          margin-right: 20px;
                          display: flex;
                          img{
                            width: 15px;
                            height: 15px;
                          }
                        }
                      }
                      .sellerConnect{
                        margin-bottom: 13px;
                        .sellerConnectLeft{
                          margin-right: 17px;
                          .shopLeftIcon{
                            width: 20px;
                            height: 20px;
                            mask-image: url("../images/candy-shop.svg");
                            background-color: #ff4747;
                            mask-size: 100% 100%;
                            margin-right: 3px;
                          }
                          a{
                            color: #333;
                          }
                        }
                        .sellerConnectRight{
                          .shopRightIcon{
                            width: 20px;
                            height: 20px;
                            mask-image: url("../images/envelope.svg");
                            background-color: #ff4747;
                            mask-size: 100% 100%;
                            margin-right: 3px;
                          }
                          a{
                            color: #333;
                          }
                        }
                      }
                      .sellerCupon{
                        button{
                          color: #333;
                          border: 1px dashed #e82a00;
                          border-left: 5px solid #e82a00;
                          cursor: pointer;
                          background-color: transparent;
                          img{
                            width: 8px;
                            height: 8px;
                            margin-left: 3px;
                          }
                        }
                      }
                    }
                    .wishListProductContent>a{
                      color: #000;
                      font-size: 13px;
                      margin-bottom: 20px;
                    }
                  }
                  .col-2:last-child{
                    padding-left: 0;
                    .wishListDelete{
                      font-size: 12px;
                      p{
                        color: #999;
                        line-height: 16px;
                        margin-bottom: 15px;
                        font-size: 12px;
                      }
                      a{
                        text-decoration: none;
                        display:block ;
                        margin-bottom: 15px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}